<app-header></app-header>
<h1 class="text-center mb-5 liste">Liste des projets</h1>
<div>

    <div class="bloccarte">

        <div class="card-body carte">
          <div class="contenat"></div>
          <h5 class="card-title text-center ">Titre du Projet</h5>
          <p class="card-text mt-3">Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression
            Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression
            Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition.
        </p>
        <div class="contenant"></div>
        </div>

        <div class="card-body carte2">
          <div class="contenat2"></div>
          <h5 class="card-title text-center">Titre du Projet</h5>
          <p class="card-text mt-3">Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression
            Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression
            Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition.
        </p>
        <div class="contenant2"></div>
        </div>

    </div>

    <div class="bloccarte">

        <div class="card-body carte">
          <div class="contenat"></div>
          <h5 class="card-title text-center ">Titre du Projet</h5>
          <p class="card-text mt-3">Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression
            Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression
            Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition.
        </p>
        <div class="contenant"></div>
        </div>

        <div class="card-body carte2">
          <div class="contenat2"></div>
          <h5 class="card-title text-center">Titre du Projet</h5>
          <p class="card-text mt-3">Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression
            Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression
            Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page
            avant impression.Lorem Ipsum est simplement du faux texte employé dans la composition.
        </p>
        <div class="contenant2"></div>
        </div>

    </div>

</div>
<app-footer></app-footer>
