<div class="d-flex  flex-column hauteur mt-5 border ">
  <!-- FOOTER -->
  <footer class="">
    <div class="">
      <div class="row  ">
        <div class="col-lg-3 col-md-6 logofooter" >
          <img src="assets/logo.png" alt="" style="width: 250px;">
            <p class="text-center icon mt-4"><i class="fa-brands fa-facebook" style="color: #ff9700;"></i>
              <i class="fa-brands fa-square-twitter" style="color: #ff9700;"></i>
              <i class="fa-brands fa-google-plus" style="color: #ff9700;"></i>
            </p>
        </div>
        <div class="col-lg-3 col-md-6  lien">
          <h5 class="text-custom mb-3">Lien utiles</h5>
          <ul class="list-unstyled text-muted">
            <li><a routerLink="/conditionUtilisation">Conditions d'utilisations</a></li>
            <li><a routerLink="/politiqueConfidenialite">Politiques de confidentialites</a></li>
            <li><a href="#">A propos</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 lien">
          <h5 class="text-custom mb-3">Lien utiles</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="#">Projets</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Faire part</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 lien">
          <h5 class="text-custom mb-3">Newsletter</h5>
          <p class="small text-muted mx-3">Inscrivez-vous a notre newsletter.</p>
          <form action="#">
            <div class="input-group mb-3 ">
              <input class="form-control" type="text" placeholder="Adresse email"
                aria-label="Recipient's username" aria-describedby="button-addon2">
              </div>
                <button class="btn newletter">s'inscrire</button>
          </form>
          </div>
    </div>
        </div>
  </footer>
</div>

