<app-header></app-header>
<br>
<br>
<br>
<br>


<div class="container mt-4">
  <h4 class="text-center mb-3">Politiques de confidentialites</h4>
  <div id="trait" class="mb-2">
    <div id="line"></div>
  </div>
  <h5 class="text-center">Descriptif</h5>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem sequi repudiandae culpa sint, ipsum amet illo quos
    quaerat, quo temporibus voluptatem aliquid totam tempore rerum. Assumenda architecto natus dolore vero rem totam
    voluptas, sint molestias modi delectus. Molestiae architecto ad consequatur sequi aperiam eum fugiat, obcaecati
    repellendus, iste deleniti repudiandae iusto! Iste eius aspernatur delectus officiis! Aliquid incidunt facere culpa
    maxime eius architecto delectus soluta possimus perferendis, doloribus, molestiae a et? Cum non amet, nulla
    consequuntur natus corrupti beatae asperiores ex labore modi sint ratione expedita repellendus. Sapiente, est
    repellat assumenda, quo consequuntur facilis accusantium dolorem quas beatae ullam quos?</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem sequi repudiandae culpa sint, ipsum amet illo quos
    quaerat, quo temporibus voluptatem aliquid totam tempore rerum. Assumenda architecto natus dolore vero rem totam
    voluptas, sint molestias modi delectus. Molestiae architecto ad consequatur sequi aperiam eum fugiat, obcaecati
    repellendus, iste deleniti repudiandae iusto! Iste eius aspernatur delectus officiis! Aliquid incidunt facere culpa
    maxime eius architecto delectus soluta possimus perferendis, doloribus, molestiae a et? Cum non amet, nulla
    consequuntur natus corrupti beatae asperiores ex labore modi sint ratione expedita repellendus. Sapiente, est
    repellat
    assumenda, quo consequuntur facilis accusantium dolorem quas beatae ullam quos?</p>

</div>




<app-footer></app-footer>
