
<app-header-connecte></app-header-connecte>
<br><br><br><br>
<div  class="container ">
  <div>
    <p class="text-center">FORUM DE DISCUSSION</p>
  </div>
  <div class="forum mb-3">
    Bienvenue sur notre forum de discussion ! Afin de maintenir un environnement respectueux et propice à des discussions
    enrichissantes, nous vous prions de respecter les règles.Soyez respectueux envers tous les membres du forum, indépendamment de leurs opinions, croyances ou origines.

  </div>
  <div class="row d-flex justify-content-center">
      <div class="col-lg-2 col-md-5  mx-4 my-2 p-4 border text-center" ><button class="domaine" type="button" >Domaine</button></div>
      <div class="col-lg-2 col-md-5  mx-4 my-2 p-4 border text-center" ><button class="domaine" type="button">Domaine</button></div>
      <div class="col-lg-2 col-md-5 mx-4 my-2 p-4 border text-center" ><button class="domaine" type="button">Domaine</button></div>
      <div class="col-lg-2 col-md-5 mx-4 my-2 p-4 border text-center" ><button class="domaine" type="button">Domaine</button></div>
      <div class="col-lg-2 col-md-5 mx-4 my-2 p-4 border text-center" ><button class="domaine" type="button">Domaine</button></div>
      <div class="col-lg-2 col-md-5 mx-4 my-2 p-4 border text-center" ><button class="domaine" type="button">Domaine</button></div>
      <div class="col-lg-2 col-md-5 mx-4 my-2 p-4 border text-center" ><button class="domaine" type="button">Domaine</button></div>
      <div class="col-lg-2 col-md-5 mx-4 my-2  p-4 border text-center" ><button class="domaine" type="button">Domaine</button></div>
    </div>

</div>





<app-footer></app-footer>
