.forum{
  border: 2px solid #ff9700;
  padding: 20px;
}
.domaine{
  border: 1px solid #ff9700;
  background-color: #ff9700;
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.border{
  background-color: #19375C;
  border-radius: 10px;
}
