<app-header></app-header>

        <!-- baniere -->
        <div>
          <div class="contenantapropos1"></div>
          <div class="aboutus">
              <h1 class="text-center">A Propos de nous</h1>
          </div>
          <div class="contenantapropos2"></div>

      </div>


  <!-- La section de apropos -->
  <div>
      <div class="blocaboutus">
        <div class="col-md-4">
          <img src="https://img.freepik.com/free-photo/group-afro-americans-working-together_1303-8984.jpg?w=740&t=st=1702035632~exp=1702036232~hmac=e1a5f721878ee8e068208461de30e2c4fd66918fc28d84586597669dfb35517d" class="img-fluid rounded-start" alt="...">
        </div>

        <div class="d-flex">
          <div class="col-md-1 containerapropos ms-3"></div>
          <div class="col-md-7">
              <div class="card-body blocpresentation">
                <h5 class="card-title mt-3 text-center">Présentation</h5>
                <p class="card-text mt-3 ms-4">kaay entreprendre est une plateforme en ligne conçue pour accompagner les entrepreneurs novices dans leur voyage vers la réalisation de leur projet entrepreneurial. Elle vise à démystifier le processus entrepreneurial, à aider les entrepreneurs novices à réaliser leur rêve entrepreneurial en leur fournissant un guide complet pour mettre en place leur projet avec succès et à fournir les ressources nécessaires pour rendre l'entrepreneuriat plus accessible à tous.
                  Son objectif est de répondre au besoin croissant d'accompagnement et de soutien pour les entrepreneurs débutants.
                  La plateforme souhaite démocratiser l'accès à l'entrepreneuriat en fournissant
                  une source fiable d'informations et d'outils pratiques pour aider les utilisateurs à concrétiser
                  leur projet avec succès.
                </p>
            </div>
          </div>
        </div>

      </div>
  </div>

  <div>
      <div class="bloccible">

        <div class="d-flex">
          <div class="col-md-1 containercible ms-3"></div>
          <div class="col-md-7">
              <div class="card-body blocdefinircible">
                <h5 class="card-title mt-3 text-center">Cible</h5>
                <p class="card-text mt-3 ms-4">La cible principale de la plateforme kaay entreprendre est constituée des entrepreneurs novices et aspirants entrepreneurs. Plus précisément, elle s'adresse aux personnes qui souhaitent se lancer dans l'entrepreneuriat, mais qui n'ont pas encore d'expérience ou de connaissances approfondies dans ce domaine.
                </p>
                <p>Cette cible peut inclure :</p>
                  <p><i class="bi bi-pin-angle-fill"></i>Les étudiants et jeunes diplômés </p>
                  <p><i class="bi bi-pin-angle-fill"></i>Les entrepreneurs potentiels sans expérience préalable</p>
                  <p><i class="bi bi-pin-angle-fill"></i>Les entrepreneurs locaux</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <img src="https://img.freepik.com/free-photo/workers-assisting-business-meeting_23-2149337289.jpg?w=740&t=st=1702035745~exp=1702036345~hmac=f039d01e5cc14789497073fa6716aaf1ca90d830b6aaeef2a26d13fe5d3e4495" class="img-fluid rounded-start" alt="...">
        </div>

      </div>
  </div>
<app-footer></app-footer>
