/* baniere */

/* banieretexte */
.container{
  margin-top: 6% !important;
  display: flex;
  grid-template-columns: auto auto ;
  /* margin: 0 auto; */
}
.banieretitre{
  background-color: #19375C;
  color: white;
  height: 250px;
  width: 100%;
  border-top:16px solid #FF9700 ;
  border-radius: 60px 0 60px 0;
  /* margin-left: 7%; */
}
.banieretitre h5,p {
  color: white;
}
.banieretitre h5{
  font-size: 40px;
  text-align: center;
  text-shadow:3px 3px black;
  font-weight: bold;
}
.banieretitre p{
  font-size: 24px;
  width: 80%;
  margin:0 auto;
  text-align: center;
}

/* baniereimage */
.baniereimg img {
  height: 160px;
  border-radius: 60px 0 60px 0;
  box-shadow: 3px 3px #FF9700;
  margin-left: 22%;
}
.baniereimage1{
  height: 160px;
  border-radius: 60px 0 60px 0;
  box-shadow: 3px 3px #FF9700;
  /* margin-left: 24%; */
  margin-top: 18%;
}

/* bloc de bonnes raison */

/* bloc de bonnes raisoncontenant */
.raisonchoisir{
  margin: 2%;
  margin-top: 3%;
  display: flex;
  grid-template-columns: auto auto;
  /* gap: 3%; */
  /* align-items: center; */
  justify-content: space-evenly;
  width: 95%;
  /* border: 2px solid; */
}
.contour{
  border: 5px solid #FF9700;
  background-color: white;
  height: 200px;
  width: 200px;
  transform: rotate(45deg);
  border-radius: 25px;
  /* margin-left: 35%; */
}
.contenant{
  background-color: #19375C;
  height: 150px;
  width: 150px;
  border-radius: 25px;
  margin: 10.5%;
}
/* .iconchoisir{
  border: 2px solid;
} */
.iconchoisir div i{
  font-size: 38px;
  color: #19375C;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenucontenant{
  padding-top: 25%;
  margin-left: 30%;
}
.iconchoisir div{
  width: 12%;
  height: 55px;
  margin:0 auto;
  border-top-left-radius: 20px;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes example {
  100%   {transform: rotate(360deg);}
}

.bag{
  border: 4px solid #FF9700;
  width: 100%;
  background-color: white;
  position: relative;
  top: -270px;
  left: -2px;
}
.direction{
  border: 4px solid #FF9700;
  width: 100%;
  background-color: white;
  position: relative;
  top: -180px;
  left: 140px;
}
.hand{
  border: 4px solid #FF9700;
  width: 100%;
  background-color: white;
  position: relative;
  top: -90px;
  /* left: 190px; */
}
.book{
  border: 4px solid #FF9700;
  width: 100%;
  background-color: white;
  position: relative;
  top: -290px;
  left: -150px;
}
/* bloc de bonnes raisontexte */
.raisonchoisirtext {
  margin-top: 2%;
}
.raisonchoisirtext p{
  color: black;
  text-align: justify;
  margin-top: 2%;
  font-size: 20px;
}
.raisonchoisirtext i{
  color:#19375C;
  margin-right: 2%;
  font-size: 25px;
}
.raisonchoisirtext h5{
  /* border: 2px solid; */
  font-size: 35px;
  color: #FF9700;
  font-weight: bold;
}


/* La section des 3 informations  */
.sectioninformations{
  margin-top: 8% !important;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 7%;
  justify-content: center;
  border: 0.5px solid #FF9700;
  box-shadow:9px 9px #19375C;
  margin: 5%;
  padding-bottom: 17px;
}
.sectioninformations h4{
  font-size: 18px;
  color: #19375C;
  font-weight: bold;
}
.sectioninformations p{
  font-size: 20px;
  color:black;
  text-align: justify;
  margin-top: 3%;
}
.sectioninformations i{
  color: #FF9700;
  font-size: 38px;
}
.blocfichier{
  margin-top: 4%;
  display: flex;
  gap: 5%;
  align-items: center;
}
.fichier{
  background-color: #19375C;
  width: 100px;
  border-radius: 30px 30px 30px 0;
}
.fichier i{
  margin: 20%;
}
.blocgens{
  margin-top: 4%;
  display: flex;
  gap: 5%;
  align-items: center;
}
.gens{
  background-color: #19375C;
  width: 100px;
  border-radius: 30px 30px 30px 0;
}
.gens i{
  margin: 20%;
}
.blocpartage{
  margin-top: 4%;
  display: flex;
  gap: 5%;
  align-items: center;
}
.partage{
  background-color: #19375C;
  width: 80px;
  border-radius: 30px 30px 30px 0;
}
.partage i{
  margin: 20%;
}

/* section image texte */
.blocimagetext{
  margin-top: 8%;
  margin-left: 5%;
  width: 90%;
}
.imagetext{
  background-color: #19375C;
  border-right: 8px solid #FF9700;
  border-bottom: 8px solid #FF9700;
  border-radius: 0 65px 0 65px;
  padding: 25px;
}
.imagetext img{
  height: 280px;
  /* border: 2px solid; */
  /* margin-left: 5%; */
}
.imagetext h4{
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin-left: 5%;
}
.imagetext p{
  font-size: 20px;
  margin-top: 4%;
  margin-left: 5%;
}

/* faire part des projets */
.fairepart{
  display: flex;
  gap: 12%;
  margin-top: 8%;
  padding-bottom: 4%;
}
.fairepart h2{
  font-size: 38px;
  font-weight: bold;
  margin-left: 5%;
}
.fairepart button{
  font-size: 20px;
  background-color: transparent;
  border: 2px solid #FF9700;
  border-radius: 30px;
  padding: 2px 20px;
  font-weight: bold;
  margin-left: 30%;

}
.bloccartprojet{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  gap: 10px;
  /* width: 80%; */
}
.cartprojetdiv{
  width: 80%;
  height: 300px;
  border: 5px solid #19375C;
  background-color: white;
  margin: 7%;
}
.cartprojet{
  width: 80%;
  height: 300px;
  border: 3px solid #19375C;
  position: relative;
  top: -300px;
  left: 40px;
  background-color:white;
}
.contenantcartprojet{
  background-color: #FF9700;
  height: 60px;
  border-radius:0 50px 50px 0;
  box-shadow: 6px 6px #19375c80;
  position: relative;
  left: -24px;
  top: 9px;
  width: 90%;
}
.contenantcartprojet h5{
  font-size: 25px;
  font-weight: bold;
  padding-top: 5%;
}
.cartprojet p{
  color: black;
  font-size: 15px;
  /* border: 2px solid; */
  margin: 0 auto;
  margin-top: 15%;
  text-align: justify;
  width: 90%;
  /* padding-top: 20%; */
}

/*La dernière section imageTexte  */
.blocchancesdereussir{
  margin-top: -15%;
  display: flex;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  justify-content: space-evenly;
  /* border: 2px solid; */
  margin-left: 5%;
}
.chancesdereussir{
  border-top:15px solid #19375C;
  border-left:15px solid #19375C;
  box-shadow: 15px 10px #FF9700;
  border-radius: 50px;
  height: 550px;
  width: 65%;
}
.chancesdereussirimg img{
  height: 200px;
  width: 70%;
  border-top:10px solid #19375C;
  border-left:10px solid #19375C;
  box-shadow: 10px 8px #FF9700;
  border-radius: 50px !important;
  /* border: 2px solid; */
  /* width: 100%; */
}
.chancesdereussir h5{
  font-size: 38px;
}
.chancesdereussir p{
  font-size: 20px;
  color: black;
}
.chancesdereussir i{
  font-size: 22px;
  color: #FF9700;
}

/* portable */
@media screen and (max-width: 575px) {
  /* banieretexte */
  .container{
    flex-direction: column;
    /* display:grid;
    grid-template-columns: auto;
    margin:0 auto; */
  }
  .banieretitre{
    margin-top: 3% !important;
    background-color: #19375C;
    color: white;
    height: 150px;
    width: 100%;
    border-top:16px solid #FF9700 ;
    border-radius: 40px 0 40px 0;
    margin:0 auto;
  }
  .banieretitre h5,p {
    color: white;
  }
  .banieretitre h5{
    margin-top: 9% !important;
    font-size: 22px;
    text-align: center;
    text-shadow:3px 3px black;
    font-weight: bold;
  }
  .banieretitre p{
    font-size: 15px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
  }
  .baniereimg img {
    height: 120px;
    border-radius: 40px 0 40px 0;
    box-shadow: 2px 2px #FF9700;
    margin-left: 10%;
    align-items: center;
  }

  .baniereimage1 {
    height: 120px;
    border-radius: 40px 0 40px 0;
    box-shadow: 2px 2px #FF9700;
    margin-left: 10%;
    margin-top: 10%;
  }

/* bloc de bonnes raison */

/* bloc de bonnes raisoncontenant */

.raisonchoisir{
  /* margin: 2%; */
  margin-top: 8%;
  display: grid;
  grid-template-columns: auto;
  /* gap: 3%; */
  align-items: center;
  width: 100%;
  /* border: 2px solid; */
}
.contour{
  border: 5px solid #FF9700;
  background-color: white;
  height: 150px;
  width: 150px;
  transform: rotate(45deg);
  border-radius: 16px;
}
.contenant{
  background-color: #19375C;
  height: 100px;
  width: 100px;
  border-radius: 16px;
  margin: 13%;
}
.iconchoisir div{
  width: 14%;
  height: 43px;
  border-top-left-radius: 18px;
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes example {
  100%   {transform: rotate(360deg);}
}

.iconchoisir div i{
  font-size: 28px;
  color: #19375C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bag{
  border: 3px solid #FF9700;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: -200px;
  left: -5px;
}
.direction{
  border: 3px solid #FF9700;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: -140px;
  left: 110px;
}
.hand{
  border: 3px solid #FF9700;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: -80px;
  left: -1px;
}
.book{
  border: 3px solid #FF9700;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  position: relative;
  top: -225px;
  left: -116px;
}
/* bloc de bonnes raisontexte */
.raisonchoisirtext {
  margin-top: -24% !important;
  margin:0 auto;
  width: 90%;
}
.raisonchoisirtext p{
  color: black;
  text-align: justify;
  margin-top: 2%;
  font-size: 15px;
}
.raisonchoisirtext i{
  color:#19375C;
  margin-right: 2%;
  font-size: 20px;
}
.raisonchoisirtext h5{
  /* border: 2px solid; */
  font-size: 22px;
  color: #FF9700;
  font-weight: bold;
}

/* La section des 3 informations  */
.sectioninformations{
  margin-top: 8% !important;
  width: 90%;
  display: grid;
  grid-template-columns: auto ;
  gap: 7%;
  justify-content: center;
  border: 0.5px solid #FF9700;
  box-shadow:5px 5px #19375C;
  margin: 5%;
  padding-bottom: 80px;
  /* height: 700px; */
}
.sectioninformations h4{
  font-size: 18px;
  color: #19375C;
  font-weight: bold;
}
.sectioninformations p{
  font-size: 15px;
  color:black;
  text-align: justify;
  margin-top: 3%;
}
.sectioninformations i{
  color: #FF9700;
  font-size: 22px;
}
.fichier{
  background-color: #19375C;
  width: 53px;
  border-radius: 30px 30px 30px 0;
}
.blocgens{
  margin-top: 4%;
  display: flex;
  gap: 5%;
  align-items: center;
  margin-top: -5px;
}
.gens{
  background-color: #19375C;
  width: 53.7px;
  border-radius: 30px 30px 30px 0;
}
.blocpartage{
  margin-top: 4%;
  display: flex;
  gap: 5%;
  align-items: center;
  margin-top: -5px;
  border: 2px solid;
}
.partage{
  background-color: #19375C;
  width: 50px;
  border-radius: 30px 30px 30px 0;
}

/* section image texte */
.blocimagetext{
  margin-top: 14% !important;
  margin-left: 5%;
  width: 90%;
}
.imagetext{
  background-color: #19375C;
  border-right: 8px solid #FF9700;
  border-bottom: 8px solid #FF9700;
  border-radius: 0 70px 0 70px;
  padding: 25px;
}
.imagetext img{
  height: 180px;
}
.imagetext h4{
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin-left: 5%;
}
.imagetext p{
  font-size: 15px;
  margin-top: 4%;
  margin-left: 5%;
}

/* faire part des projets */
.fairepart{
  display: flex;
  gap: 5%;
  margin-top: 8%;
  padding-bottom: 4%;
}
.fairepart h2{
  font-size: 22px;
  font-weight: bold;
  margin-left: 5%;
}
.fairepart button{
  font-size: 12px;
  background-color: transparent;
  border: 2px solid #FF9700;
  border-radius: 20px;
  padding: 2px 10px;
  font-weight: bold;
  margin-left: 1.5%;

}
.bloccartprojet{
  display: grid;
  grid-template-columns: auto  ;
  gap: 4%;
  width: 80%;
  margin:0 auto;
}
.cartprojetdiv{
  width: 80%;
  height: 300px;
  border: 5px solid #19375C;
  background-color: white;
  /* margin: 7%; */
}
.cartprojet{
  width: 80%;
  height: 300px;
  border: 3px solid #19375C;
  position: relative;
  top: -300px;
  left: 40px;
  background-color:white;
  margin-bottom: -80%;
}
.contenantcartprojet{
  background-color: #FF9700;
  height: 60px;
  border-radius:0 50px 50px 0;
  box-shadow: 6px 6px #19375c80;
  position: relative;
  left: -24px;
  top: 9px;
  width: 90%;
}
.contenantcartprojet h5{
  font-size: 22px;
  font-weight: bold;
  padding-top: 7%;
}
.cartprojet p{
  color: black;
  font-size: 15px;
  /* border: 2px solid; */
  margin: 0 auto;
  margin-top: 15%;
  text-align: justify;
  width: 90%;
  /* padding-top: 20%; */
}

/*La dernière section imageTexte  */
.blocchancesdereussir{
  margin-top: 50%;
  display: grid;
  grid-template-columns: auto ;
  /* margin:0 auto !important; */
}
.chancesdereussir{
  border-top:13px solid #19375C;
  border-left:13px solid #19375C;
  box-shadow: 13px 7px #FF9700;
  border-radius: 50px;
  height: 490px;
  width: 95%;
}
.chancesdereussirimg img{
  height: 150px;
  width: 60%;
  border-top:8px solid #19375C;
  border-left:8px solid #19375C;
  box-shadow: 8px 6px #FF9700;
  border-radius: 50px !important;
  margin-left: 16%;
}
.chancesdereussir h5{
  font-size: 22px;
}
.chancesdereussir p{
  font-size: 15px;
  color: black;
}
.chancesdereussir i{
  font-size: 15px;
  color: #FF9700;
}

}


/* tablettes */
@media screen and (min-width: 576px) and (max-width: 820px) {

  /* baniere */

/* banieretexte */
.container{
  margin-top: 15% !important;
  display: flex;
  grid-template-columns: auto auto ;
}
.banieretitre{
  background-color: #19375C;
  color: white;
  height: 190px;
  width: 100%;
  border-top:16px solid #FF9700 ;
  border-radius: 50px 0 50px 0;
  /* margin-left: 1% !important; */
}
.banieretitre h5{
  font-size: 30px;
  text-align: center;
  text-shadow:2px 2px black;
  font-weight: bold;
}
.banieretitre p{
  font-size: 20px;
  width: 96%;
  margin:0 auto;
  text-align: center;
}

/* baniereimage */
.baniereimg img {
  height: 120px;
  border-radius: 35px 0 35px 0;
  box-shadow: 3px 3px #FF9700;
  margin-left: 40% !important;
}
.baniereimage1{
  height: 120px;
  border-radius: 35px 0 35px 0;
  box-shadow: 3px 3px #FF9700;
  margin-left: 15% !important;
  margin-top: 18%;
}

/* bloc de bonnes raison */

/* bloc de bonnes raisoncontenant */
.raisonchoisir{
  /* margin: 2%; */
  margin-top: 8%;
  display: flex;
  grid-template-columns: auto auto ;
  /* gap: 3%; */
  align-items: center;
  width: 95%;
  /* border: 2px solid; */
}
.contour{
  border: 5px solid #FF9700;
  background-color: white;
  height: 170px;
  width: 170px;
  transform: rotate(45deg);
  border-radius: 20px;
  margin-left: 30%;
}
.contenant{
  background-color: #19375C;
  height: 120px;
  width: 120px;
  border-radius: 20px;
  margin: 13%;
}

.iconchoisir div i{
  font-size: 28px;
  color: #19375C;
  margin: 15%;
}
.bag{
  border: 4px solid #FF9700;
  width: 100%;
  background-color: white;
  position: relative;
  top: -50px;
  left: -114px;
}
.direction{
  border: 4px solid #FF9700;
  width: 100%;
  background-color: white;
  position: relative;
  top: 25px;
  left: -5px;
}
.hand{
  border: 4px solid #FF9700;
  width: 100%;
  background-color: white;
  position: relative;
  top: 95px;
  left: -110px;
}
.book{
  border: 4px solid #FF9700;
  width: 100%;
  background-color: white;
  position: relative;
  top: -75px;
  left: -240px;
}
/* bloc de bonnes raisontexte */
.raisonchoisirtext {
  margin-left: 5%;
  width: 62%;
  /* border: 2px solid; */
}
.raisonchoisirtext p{
  color: black;
  text-align: justify;
  margin-top: 2%;
  font-size: 18px;
}
.raisonchoisirtext i{
  color:#19375C;
  /* margin-right: 2%; */
  font-size: 25px;
}
.raisonchoisirtext h5{
  /* border: 2px solid; */
  font-size: 25px;
  color: #FF9700;
  font-weight: bold;
}


/* La section des 3 informations  */
.sectioninformations{
  margin-top: 8% !important;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
  /* gap: 7%; */
  justify-content: center;
  border: 0.5px solid #FF9700;
  box-shadow:9px 9px #19375C;
  margin: 5%;
  padding-bottom: 17px;
}
.sectioninformations h4{
  font-size: 18px;
  color: #19375C;
  font-weight: bold;
}
.sectioninformations p{
  font-size: 18px;
  color:black;
  text-align: justify;
  margin-top: 3%;
}
.sectioninformations i{
  color: #FF9700;
  font-size: 30px;
}
.fichier{
  background-color: #19375C;
  width: 80px;
  border-radius: 30px 30px 30px 0;
}
.gens{
  background-color: #19375C;
  width: 80px;
  border-radius: 30px 30px 30px 0;
}
.partage{
  background-color: #19375C;
  width: 65px;
  border-radius: 30px 30px 30px 0;
}
.partage i{
  margin: 20%;
}
.tabblocpartage{
  width: 40%;
}


}
