<app-header></app-header>

        <!-- baniere -->
        <div class="row g-0 mb-3  mt-5" style="max-width: 100%;">
          <div class="container ">
            <div class="col-md-6 mt-5">
              <div class="card-body banieretitre ">
                <h5 class="card-title mt-5">KAAY ENTREPRENDRE </h5>
                <p class="card-text">Vous accompagne pour la réalisation de vos Rêves</p>
              </div>
              </div>

              <div class="col-md-3 mt-5">
                  <img src="https://img.freepik.com/free-photo/african-man-black-suit-big-tv-screen-guy-shows-presentation_1157-48542.jpg?w=740&t=st=1701957585~exp=1701958185~hmac=68c5613b9bd4c0bcc99b04c1452d0f9e1dd75b20f67a249cf6d1d0a79961b7c6" class="baniereimage1 mx-auto d-block" alt="...">
              </div>
              <div class=" col-md-2 mt-2 baniereimg">
                  <div class="">
                      <img src="https://img.freepik.com/free-photo/dark-skinned-woman-colleagues-corporate-start-up-office-working-finish-project-diverse-team-business-people-analyzing-company-financial-reports-from-computer_482257-7321.jpg?w=740&t=st=1701957630~exp=1701958230~hmac=cc5e0a6c00c185a7e7c03808a4b777aadf648badba4018d240191ca88f33a5de" class="baniereimage2 mx-auto d-block" alt="...">
                  </div>
                  <div class=" mt-4">
                      <img src="https://img.freepik.com/free-photo/african-business-male-people-shaking-hands_1303-18516.jpg?w=740&t=st=1701957823~exp=1701958423~hmac=631fc924d71d01d8cdaf64f10ecc40fe438ca182489bb27c436fdc3efdf5affe" class="baniereimage3 mx-auto d-block" alt="...">
                  </div>
              </div>

          </div>
      </div>


        <!-- bloc de bonnes raison -->

      <div class="raisonchoisir">


          <div class="col-md-5">
            <div class="contenucontenant">
              <div class="contour" >
                  <div class="contenant"></div>
              </div>
            </div>
                      <!-- icon -->
              <div class="iconchoisir">
                  <div class="bag"><i class="bi bi-briefcase"></i></div>
                  <div class="direction"><i class="bi bi-signpost-2"></i></div>
                  <div class="hand"><i class="bi bi-hand-thumbs-up"></i></div>
                  <div class="book"><i class="bi bi-journals"></i></div>
              </div>
          </div>

              <!-- text -->
            <div class="col-md-7 raisonchoisirtext">
              <div class="card-body">
                <h5 class="card-title">4 BONNES RAISONS DE NOUS REJOINDRE</h5>
                
                <div class="d-flex">
                  <i class="bi bi-1-square"></i>
                  <p class="card-text">La principale mission de kaay entreprendre est d'accompagner les futurs entrepreneurs tout au long de leur parcours entrepreneurial en les aidant à comprendre les différentes étapes à suivre et les outils nécessaires pour réussir.</p>
                </div>

                <div class="d-flex">
                  <i class="bi bi-2-square"></i>
                  <p class="card-text">Le projet vise à inspirer, informer et guider les entrepreneurs novices pour qu'ils puissent réaliser leurs rêves et contribuer à l'économie locale.</p>
                </div>

                <div class="d-flex">
                  <i class="bi bi-3-square"></i>
                  <p class="card-text">L'objectif premier est d'aider les entrepreneurs novices à franchir les premières étapes cruciales de la création d'entreprise</p>
                </div>

                <div class="d-flex">
                  <i class="bi bi-4-square"></i>
                  <p class="card-text">kaay entreprendre propose une bibliothèque complète de ressources indispensables pour la planification, l'analyse, la gestion et la promotion d'un projet entrepreneurial.</p>
                </div>
              </div>
            </div>

      </div>

      <!-- La section des 3 informations -->
      <div class="sectioninformations row g-0">
          <div class="col-4 col-md-4 col-sm-4" style="width: 20rem;">
              <div class="blocfichier">
                  <div class="fichier">
                      <i class="bi bi-file-earmark-text"></i>
                  </div>
                  <h4>Trouvez les informations dont vous avez besoin</h4>
              </div>
              <div class="card-body">
                <p class="card-text">Plus de 2 000 articles sont à votre disposition. Toutes les réponses à vos questions pour créer et développer votre entreprise.</p>
              </div>
          </div>

          <div class="col-4 col-md-4 col-sm-4" style="width: 20rem;">
              <div class="blocgens">
                  <div class="gens">
                      <i class="bi bi-people"></i>
                  </div>
                  <h4>Ne restez pas seul, rejoignez notre communauté</h4>
              </div>
              <div class="card-body">
                <p class="card-text">Rencontrez d’autres créateurs ainsi que des experts lors d’événements en ligne ou en physique.</p>
              </div>
          </div>

          <div class="tabblocpartage col-4 col-md-4 col-sm-4" style="width: 20rem;">
              <div class="blocpartage">
                  <div class="partage">
                      <i class="bi bi-pie-chart-fill"></i>
                  </div>
                  <h4>Réalisez votre business étape par étape</h4>
              </div>
              <div class="card-body">
                <p class="card-text">kaay entreprendre est conçue pour vous accompagner dans vos voyages vers la réalisation de vos projets entrepreneurials.</p>
              </div>
          </div>

      </div>

      <!-- section image texte -->
      <div class=" mb-3 blocimagetext">
          <div class="row g-0 imagetext">
            <div class="col-md-4">
              <img src="https://img.freepik.com/free-photo/afro-american-man-suit-pitching-business-idea-female-colleague-office_1098-20607.jpg?w=740&t=st=1701989139~exp=1701989739~hmac=3f62a4fe1228a7889fe12c91f52b8e30b514ec9dfd50dbc32e3c5160eb65b15a" class="img-fluid mx-auto d-block"   alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">Rencontrez gratuitement des experts</h4>
                <p class="card-text">Celles et ceux qui ont une idée pour entreprendre (avancée ou non) peuvent venir poser leurs questions à différents partenaires experts : comptables, avocats, Chambres des Métiers, Chambres de Commerce... Ce sont des rencontres conviviales et informelles, organisés partout au Sénégal.  Établir des objectifs réalistes en matière de croissance de la communauté, de taux
                  d'engagement des utilisateurs et de satisfaction globale afin de créer une expérience
                  utilisateur de qualité.
                  </p>
              </div>
            </div>
          </div>
        </div>

        <!-- faire part des projets -->
        <div class="fairepart ">
          <h2>Faire part de nos projets</h2>
          <button routerLink="/projets" >Voir plus <i class="bi bi-chevron-right"></i></button>
        </div>
        <div class="bloccartprojet">

          <div>
              <div class="card-body cartprojetdiv">
              </div>

                <div class="cartprojet">
                    <div class="contenantcartprojet">
                    <h5 class="card-title text-center">Kaay Entreprendre</h5>
                    </div>
                  <p class="card-text">
                      Notre processus entrepreneurial commence par une analyse approfondie du marché, identifiant les opportunités clés. Ensuite, nous élaborons une stratégie solide, définissant des objectifs clairs et des étapes réalisables. 
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
          </div>

          <div>
              <div class="card-body cartprojetdiv">
              </div>

                <div class="cartprojet">
                    <div class="contenantcartprojet">
                    <h5 class="card-title text-center">Guindiko</h5>
                    </div>
                  <p class="card-text">
                      Notre processus entrepreneurial commence par une analyse approfondie du marché, identifiant les opportunités clés. Ensuite, nous élaborons une stratégie solide, définissant des objectifs clairs et des étapes réalisables. 
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
          </div>

          <div>
              <div class="card-body cartprojetdiv">
              </div>

                <div class="cartprojet">
                    <div class="contenantcartprojet">
                    <h5 class="card-title text-center">Sama Gokh</h5>
                    </div>
                  <p class="card-text">
                      Notre processus entrepreneurial commence par une analyse approfondie du marché, identifiant les opportunités clés. Ensuite, nous élaborons une stratégie solide, définissant des objectifs clairs et des étapes réalisables. 
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
          </div>

          <div>
              <div class="card-body cartprojetdiv">
              </div>

                <div class="cartprojet">
                    <div class="contenantcartprojet">
                    <h5 class="card-title text-center">Cillabok</h5>
                    </div>
                  <p class="card-text">
                      Notre processus entrepreneurial commence par une analyse approfondie du marché, identifiant les opportunités clés. Ensuite, nous élaborons une stratégie solide, définissant des objectifs clairs et des étapes réalisables. 
                  </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
          </div>

        </div>

        <!-- La dernière section imageTexte  -->
        <div>
          <div class="blocchancesdereussir">
            <div class="col-md-8">
              <div class="card-body chancesdereussir">
                <h5 class="card-title mt-4 mx-3">Donnez-vous toutes les chances de réussir en entrepreneuriat</h5>
                <p class="card-text mt-4 mx-3">
                  Kaay Entreprendre vous propose de répondre au besoin croissant d'accompagnement et de soutien pour les entrepreneurs débutants. La plateforme souhaite démocratiser l'accès à l'entrepreneuriat en fournissant une source fiable d'informations pour aider les utilisateurs à concrétiser leur projet avec succès.
                </p>
                <p class="mx-3"><i class="bi bi-check2-circle mx-3"></i>Un accompagnement </p>
                <p class="mx-3"><i class="bi bi-check2-circle mx-3"></i>Des ressources en ligne gratuits</p>
                <p class="mx-3"><i class="bi bi-check2-circle mx-3"></i>Une communauté d'entraide</p>
              </div>
            </div>
            <div class="col-md-4 chancesdereussirimg mt-5">
              <div>
                <img src="https://img.freepik.com/free-photo/african-american-woman-with-phone-laptop-cafe_1303-8926.jpg?w=740&t=st=1702028404~exp=1702029004~hmac=6d3e284ffcbaa2fd48eec99700f5aaa0325104c4ea12ee5ac461f050ad9f16f4" class="img-fluid rounded-start" alt="...">
              </div>
              <div>
                <img src="https://img.freepik.com/free-photo/woman-with-mobile-phone-lady-with-documents_1157-46419.jpg?w=740&t=st=1702028573~exp=1702029173~hmac=7fda43c9ef16f0f9f43a0d7146d05407a22731b2a609833dcf43be565a0d352b" class="img-fluid rounded-start mt-5" alt="...">
              </div>
            </div>

          </div>
        </div>

<app-footer></app-footer>
