<app-header></app-header>
<br>
<br>
<br>
<br>


 <div class="container mt-4">
  <h4 class="text-center mb-3">Conditions generales d'utilisations</h4>
  <div id="trait" class="mb-2">
    <div id="line"></div>
  </div>
  <h5 class="text-center ">Descriptif</h5>
  <p>Nous recueillons des informations personnelles telles que votre nom et adresse e-mail pour personnaliser votre expérience sur notre site lié à l'entrepreneuriat. Ces données sont utilisées pour vous fournir des informations pertinentes et améliorer nos services. Vos informations sont sécurisées et ne sont pas partagées sans votre consentement. Notre site peut utiliser des cookies pour améliorer la navigation, et vous avez le contrôle sur leur utilisation via les paramètres de votre navigateur. Cette politique peut être mise à jour, et toute modification sera publiée ici. En utilisant notre site, vous acceptez ces conditions.</p>
  <p>Nous vous remercions de bien respecter ceci : recueillons des informations personnelles telles que votre nom et adresse e-mail pour personnaliser votre expérience sur notre site lié à l'entrepreneuriat. Ces données sont utilisées pour vous fournir des informations pertinentes et améliorer nos services. Vos informations sont sécurisées et ne sont pas partagées sans votre consentement. Notre site peut utiliser des cookies pour améliorer la navigation, et vous avez le contrôle sur leur utilisation via les paramètres de votre navigateur. Cette politique peut être mise à jour, et toute modification sera publiée ici. En utilisant notre site, vous acceptez ces conditions. Pour des questions, contactez-nous sur 77 777 77 77</p>

</div>




<app-footer></app-footer>

